@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Lato", sans-serif;
}

.active {
  transform: scale(1.02);
}

.animatein {
  animation: fadein 0.5s linear forwards;
}

#arrow {
  animation: toandfro 1s linear infinite;
}

#course-slider section {
  animation: scroll 30s linear infinite;
}

#course-slider:hover section {
  animation-play-state: paused;
}

.invalid_input {
  @apply border-red-500;
}

.valid_input_icon {
  @apply text-gray-600;
}

.invalid_input_icon {
  animation: shake 0.3s;
  @apply text-red-500;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes fadein {
  0% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(10px);
  }
  65% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(10px);
  }
}
