@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Lato", sans-serif;
}

.active {
  transform: scale(1.02);
}

.show-sidebar {
  display: flex;
}

.hide-sidebar {
  display: none;
}

#arrow {
  animation: toandfro 1s linear infinite;
}

#course-slider section {
  animation: scroll 30s linear infinite;
}

#course-slider:hover section {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes toandfro {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(10px);
  }
}
